html {
    -webkit-tap-highlight-color: #FFF7CE;
}

.page-header {
	border-bottom: none;
}

.jumbotron {
   display: table-cell;
   vertical-align: middle;
}

#sidebar {
    height: 100%;    
}

.nav-tabs > li > a:hover {
 background-color: #FFF7CE !important;
 border-color: #FFBB82;
 border-bottom-color: #FFF7CE; 
}

.nav-tabs > li > a:active {
 background-color: #FFF7CE !important; 
}

.nav-tabs > li > a:focus {
 background-color: #FFF7CE !important;
 outline: 0;
}

.nav-tabs > li > a {
 background-color: #FFBB82; 
}


#buttonboxback {
    width: 150px;
    height: 40px;
    position: relative;
    margin-left: 40px;
    border-radius: 5px;
}

#buttonboxback:before {
    content: "";
    position: absolute;
    top: 0;
    left: -17px;
    border-style: solid;
    border-width: 20px 20px 20px 0;
}

#buttonboxback > a {
    display: block;
    text-decoration: none;
    text-align: center;
}

.btn {
    background-color: #FFBB82;
    color: black;
    border: 2px solid #FFBB82;
}

.btn:hover {
    background-color: #FFA458;
    color: black;
    border: 2px solid #FFA458;
}

* {
    font-family: 'Pangolin', cursive;
}

.panel-default > .panel-heading {
    background-color: #ffe9be;
}

.jumbotron {
    background-color: #ffe9be;
}

body {
    background-color: #FFF7CE;
}

.nav-tabs > li.active > a{
background-color:  #FFF7CE
}
