.page-header {
	border-bottom: none;
}

#sidebar {
    height: 100%;    
}

#buttonboxback {
    width: 150px;
    height: 40px;
    position: relative;
    margin-left: 40px;
    border-radius: 5px;
}

#buttonboxback:before {
    content: "";
    position: absolute;
    top: 0;
    left: -17px;
    border-style: solid;
    border-width: 20px 20px 20px 0;
}

#buttonboxback > a {
    display: block;
    text-decoration: none;
    text-align: center;
}