<!-- People: <input type="number" ng-model="dick" ng-change="setNumberOfGuest(dick)"/> -->

<!-- TODO in Lab 5: Display the items on the menu with cost for each -->


<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->
<!-- Total number of guest: {{getNumberOfGuests()}} -->



<div class="col-md-3 well" ng-controller="DinnerCtrl">
	<p>
		<h3>My dinner</h3> 
		<u>Number of guests: <b>{{getNumberOfGuests()}}</b></u> 
		<div class="input-group" style="width:60px;">
			<span class="input-group-btn">
				<button ng-click="setNumberOfGuest(getNumberOfGuests()-1)" class="btn btn-danger">
					<i class="glyphicon glyphicon-minus"></i>
				</button>
			</span>
			<input disabled type="text" value="{{getNumberOfGuests()}}" style="width:45px; height: auto;" class= "form-control">
			<span class="input-group-btn">
				<button ng-click="setNumberOfGuest(getNumberOfGuests()+1)" class="btn btn-success">
					<i class="glyphicon glyphicon-plus"></i>
				</button>
			</span>
		</div>
	</p>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Dish Name</th>
				<th>Cost</th>
			</tr>
			<tr ng-repeat="dish in getFullMenu()">
				<td>
					<a ng-href="#/dish/{{dish.id}}">{{dish.title}}</a>
					<button ng-click="removeDishFromMenu(dish.id)" class="btn btn-sm remove-button" style="margin-right:5px">
						<i class="glyphicon glyphicon-remove"></i>
					</button>
				</td>
				<td>{{ getDishPrice(dish.id) | currency }}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
			</tr>
		</tbody>
		<tfoot>
			<tr class="success">
				<td>
					<b>Total</b>
				</td>
				<td>
					<b>{{ getTotalMenuPrice() | currency }}</b>
				</td>
			</tr>
		</tfoot>
	</table>
	<button class="btn btn-theme btn-block" id="checkout">Checkout</button>
</div>