<!-- People: <input type="number" ng-model="dick" ng-change="setNumberOfGuest(dick)"/> -->

<!-- TODO in Lab 5: Display the items on the menu with cost for each -->


<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->
<!-- Total number of guest: {{getNumberOfGuests()}} -->



<div class="col-md-3 well" ng-controller="DinnerCtrl">
	<p>
		<h3>My dinner</h3> 
		<u>Number of guests: <b>{{getNumberOfGuests()}}</b></u> 
		<div class="input-group" style="width:160px;">
			<span class="input-group-btn">
				<button ng-click="setNumberOfGuest(getNumberOfGuests()-1)">
					a
				</button>
			</span>
			<input type="number" value="{{getNumberOfGuests()}}" disabled="">
				<span class="input-group-btn">
					<button ng-click="setNumberOfGuest(getNumberOfGuests()+1)">helloooo</button>
				</span>
		</div>
	</p>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Dish Name</th>
				<th>Cost</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			</tr>
		</tbody>
		<tfoot>
			<tr class="success">
				<td>
					<b>Total</b>
				</td>
				<td>
					<b>0 SEK</b>
				</td>
			</tr>
		</tfoot>
	</table>
	<button class="btn btn-block" id="checkout">Checkout</button>
</div>