<!-- People: <input type="number" ng-model="dick" ng-change="setNumberOfGuest(dick)"/> -->

<!-- TODO in Lab 5: Display the items on the menu with cost for each -->


<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->
<!-- Total number of guest: {{getNumberOfGuests()}} -->



<div class="col-md-3 well" ng-controller="DinnerCtrl">
	<div class="text-center">
		<h3 style="margin-top:0">My dinner</h3> 
		<u>Number of guests</u>
	</div> 
		<div class="input-group">
			<span class="input-group-btn">
				<button ng-click="setNumberOfGuest(getNumberOfGuests()-1)" class="btn btn-danger btn-md">
					<i class="glyphicon glyphicon-minus"></i>
				</button>
			</span>
			<input disabled type="text" value="{{getNumberOfGuests()}}" class= "form-control text-center">
			<span class="input-group-btn">
				<button ng-click="setNumberOfGuest(getNumberOfGuests()+1)" class="btn btn-success btn-md">
					<i class="glyphicon glyphicon-plus"></i>
				</button>
			</span>
		</div>
	</p>
	<table class="table table-striped">
		<thead>
			<tr>
				<th/>
				<th>Dish Name</th>
				<th>Cost</th>
			</tr>
			<tr ng-repeat="dish in getFullMenu()">
				<td>
					<button ng-click="removeDishFromMenu(dish.id)" class="btn btn-xs btn-danger">
						<i class="glyphicon glyphicon-remove"></i>
					</button>
				</td>
				<td>
					<a ng-href="#/dish/{{dish.id}}">{{dish.title}}</a>
				</td>
				<td>{{ getDishPrice(dish.id) | currency }}</td>
			</tr>
		</thead>
		<tbody>
			<tr>
			</tr>
		</tbody>
		<tfoot>
			<tr class="success">
				<td/>
				<td>
					<b>Total</b>
				</td>
				<td>
					<b>{{ getTotalMenuPrice() | currency }}</b>
				</td>
			</tr>
		</tfoot>
	</table>
	<a href="#/overview" class="btn btn-theme btn-block" id="checkout">Checkout</a>
</div>