<div class="row">
<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'"></ng-include>

<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->
<div class="col-md-9" ng-controller="DinnerCtrl">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="media-heading">{{dish.title}}{{status}}</h3>
		</div>
		<div class="panel-body">
			<div ng-bind-html="successMessage" ng-show="showSuccess" class="alert alert-success text-center"></div>
				<div class="row">
					<div class="col-md-7">
						<div class="media">
							<div class="media-left">
								<img class="media-object img-rounded" style="width:150px;height:150px" ng-src="{{dish.image}}">
							</div>
							<div class="media-body">
								<p ng-bind-html="summary"></p>
								{{summaryStatus}}
							</div>
						</div>
					</div>
					<div ng-show="loaded" class="col-md-5">
						<div class="panel panel-default">
							<div class="panel-heading">Ingredients for <b>{{getNumberOfGuests()}}</b> guests</div>
							<ul class="list-group">
								<li ng-repeat="ingredient in dish.extendedIngredients" class="list-group-item">
									{{ingredient.name}}
									<span class="badge" data-toggle="tooltip" title="{{ingredient.unitLong}}">
										{{getNumberOfGuests() * ingredient.amount}}{{ingredient.unitShort}}
									</span>
								</li>
							</ul>
						</div>
						<button ng-click="addDishToMenu(dish)" class="btn btn-theme btn-lg">Add to menu</button>
						<button back class="btn btn-theme btn-lg pull-right">Back</button>
					</div>
				</div>
			</div>
		</div>
</div>	
</div>