<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->
<div class="jumbotron vertical-center">
	<h1>The number one page for planning dinner</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus accusamus voluptas possimus totam itaque dolorem fugiat, reprehenderit unde perferendis voluptatibus cumque libero eaque fuga, atque consectetur tempore harum laudantium sint.
		 niggas
	</p>
	<a href="#/search" class="btn btn-primary btn-lg">Start planning!</a>
</div>