<!-- TODO in Lab 5: Display instructions for the menu -->
<ng-include src="'partials/navbar.html'"></ng-include>
<div class="row">
<div class="col-md-12" ng-controller="DinnerCtrl">
	<div class="panel panel-default">
		<div class="panel-heading">
			<button back class="btn btn-primary btn-md pull-right" style="margin-top: 10px">Go back and edit dinner</button>
			<h3 id="numberOfGuests">My Dinner: {{numberOfGuests}} People</h3>
		</div>
		<div class="panel-body">
			<div ng-repeat="dish in menu" ng-init="getDishInstructions(menu)">
				<div class="row">
					<div class="col-md-4">
						<img class="img-responsive" ng-src="{{dish.image}}">
						<h3>{{dish.title}}</h3>
					</div>
					<div class="col-md-8">
						{{instructionMessage}}
						<div class="panel-group" id="accordion">
							<div class="panel panel-default" ng-repeat="instruction in dish.steps">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="accordion" ng-href="#{{dish.id}}collapse{{instruction.number}}">Step {{instruction.number}}</a>
									</h4>
								</div>
								<div class="panel-body panel-collapse" id="{{dish.id}}collapse{{instruction.number}}">
									<p>{{instruction.step}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr ng-show="!$last" />
			</div>
		</div>
	</div>
</div>
</div>