<div class="row">
<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'"></ng-include>

<!-- TODO in Lab 5: Display the input box for search (you can ignore the type dropdown since BigOven does
not support it in free version) and list all the dishes that match the search. -->
<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>SELECT DISH</h3>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<select ng-model="type" ng-change="search(query,type)" ng-init="type='main course'" class="form-control" id="sel1">
							<option value="main course" selected>Main courses</option>
							<option value="side dish">Side dishes</option>
							<option value="dessert">Desserts</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group">
						<input ng-model="query" id="searchDish" type="text" class="form-control" placeholder="Enter key words"/>
						<span class="input-group-btn">
							<button ng-click="search(query,type)" type="submit" class="btn btn-theme btn-secondary">
								<span class="glyphicon glyphicon-search"></span>
								Search
							</button>
						</span>
					</div>
					{{status}}
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<!-- load dishes here -->
				<div ng-repeat="dish in dishes" class="col-xs-6">
					<div class="thumbnail" style="background-image:url({{baseUri}}{{dish.image}});">
					</div>
					<div class="overlay">
						<span>
							<a ng-href="#/dish/{{dish.id}}">{{dish.title}}</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>